@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  background-color: #e2e8f0; /* Sesuaikan warna */
  color: #2d3748; /* Sesuaikan warna teks */
}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.select2-container {
  z-index: 99999999999999999 !important; /* Pastikan select2 berada di atas modal */
}



