@tailwind base;
@tailwind components;
@tailwind utilities;

.selected {
  background-color: #e2e8f0; 
  color: #2d3748; 
}

.custom-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.select2-container {
  z-index: 99999999999999999 !important; /* Pastikan select2 berada di atas modal */
}


.testimonial-carousel .owl-nav {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 255, 0.3); /* Latar belakang biru semi-transparan */
  border-radius: 50%;
  color: #fff; /* Warna ikon */
  transition: background-color 0.3s; /* Animasi transisi */
}
.testimonial-carousel .owl-nav .owl-prev.active,
.testimonial-carousel .owl-nav .owl-next.active {
  background-color: rgba(0, 0, 255, 0.8); /* Latar belakang biru lebih kuat untuk status aktif */
}
.testimonial-carousel .owl-item.active-center {
  background-color: rgba(0, 0, 255, 0.1); /* Latar belakang biru ringan */
  border-radius: 10px; /* Opsional: membuat sudut lebih lembut */
  padding: 20px; /* Opsional: memberikan sedikit ruang di dalam */
  transition: background-color 0.3s; /* Animasi perubahan warna */
}
.text-aquarium-effect {
  font-size: 3.5rem; /* Sesuaikan ukuran teks */
  font-weight: bold;
  color: transparent;
  background-image: url('images/landing/ikan-hias-font.jpg'); /* Ganti URL ini dengan gambar ombak atau air yang kamu inginkan */
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
/* Ukuran font responsif */
.text-aquarium-effect {
  font-size: 1.875rem; /* 3xl */
}
@media (min-width: 640px) { /* sm */
  .text-aquarium-effect {
    font-size: 2.25rem; /* 4xl */
  }
}
@media (min-width: 768px) { /* md */
  .text-aquarium-effect {
    font-size: 3rem; /* 5xl */
  }
}
@media (min-width: 1024px) { /* lg */
  .text-aquarium-effect {
    font-size: 3.75rem; /* 6xl */
  }
}

#navbar a.active {
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #2563eb; /* text-blue-600 */
}

#navbar a.active.dark {
  background-color: #1f2937; /* dark:bg-gray-800 */
  color: #3b82f6; /* dark:text-blue-500 */
}



